img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.products-list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.btn {
  min-width: 100px;
  min-height: 40px;
  padding: 8px 16px;
  border-radius: 16px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rebeccapurple;
  color: rebeccapurple;
  background-color: transparent;
}
