body {
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

.magic-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.magic-btn > .icon {
  display: inline-block;
  margin-left: 10px;
  font-size: 24px;
}

.site-nav__link {
  color: currentColor;
  text-decoration: none;
}

.site-nav__link:hover {
  text-decoration: underline;
}

.site-nav__link--current {
  color: tomato;
}

.linethrough {
  text-decoration: line-through;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 16px;
  width: 300px;
  min-height: 400px;

  button {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

.color-picker__option {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

.transaction-table {
  border-collapse: collapse;
}

.transaction-table th,
.transaction-table td {
  padding: 8px;
  border: 1px solid #2a2a2a;
}

.title__link {
  display: inline-flex;
  margin-left: 40px;
}
