*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

button,
label {
  cursor: pointer;
}

input {
  font: inherit;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.output {
  font-size: 24px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background-color: #3f51b5;
  transition: background-color 200ms ease-in;
}

.box--active {
  background-color: #009688;
}

.inner-box {
  width: 100px;
  height: 100px;
  background-color: #ffc107;
}
