.container {
  display: flex;
  justify-content: space-around;

  outline: 2px solid red;
  outline-offset: -2px;
}

.box {
  width: 120px;
  height: 120px;
  border-radius: 16px;
  cursor: pointer;

  &.red {
    background-color: tomato;
  }

  &.green {
    background-color: teal;
  }

  &.violet {
    background-color: darkslateblue;
  }
}

.outut {
  max-width: 200px;
  min-height: 80px;
  margin: 50px auto 0;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: darkmagenta;
  color: white;
  text-align: center;

  font-size: 42px;
}
