*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

a {
  text-decoration: none;
  color: currentColor;
}

a[href='index.html'] {
  display: block;
  width: fit-content;
  padding: 8px 16px;
  border-radius: 12px;
  border: 1px solid rebeccapurple;
  transition: 150ms;

  &:hover {
    background-color: rebeccapurple;
    color: white;
  }
}

button,
label {
  cursor: pointer;
}

input {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.practice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  padding: 0;
  list-style-type: none;

  a {
    display: block;
    padding: 12px 20px;
    border: 1px solid rebeccapurple;
    border-radius: 12px;
    transition: 150ms;

    &:hover {
      background-color: rebeccapurple;
      color: white;
    }
  }
}

/* #region Alert */
.alert {
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin: 0;
  background-color: #fff;
  color: #2a2a2a;
  border: 1px solid #2a2a2a;
  border-radius: 3px;
  padding: 24px;
  user-select: none;
  cursor: pointer;

  transform: translateX(calc(100% + 20px));
  visibility: hidden;
  opacity: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.success {
    border: 1px solid #388e3c;
    background-color: #4caf50;
    color: #fff;
  }

  &.is-visible {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }

  &:hover {
    cursor: progress;
  }
}
/* #endregion */

.timer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #212121;
  border-radius: 2px;

  .clockface {
    margin-top: 0;
    margin-bottom: 24px;
    font-family: 'Roboto Mono', monospace;
    font-size: 80px;
  }

  .timer-btn {
    display: inline-flex;
    margin-left: 4px;
    margin-right: 4px;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 0;
    border-radius: 3px;
    background-color: #3f51b5;
    color: #ffffff;
    cursor: pointer;
    font-size: 24px;
  }

  .timer-btn.is-active {
    background-color: #2196f3;
  }
}
