// @import 'bootstrap/scss/bootstrap';
@import './loader.scss';
@import './common.scss';
// @import './color-vars.scss';

// $primary: $light-brown;
// $secondary: $gray;
// $success: $dark-brown;
// $info: $beige;
// $warning: $beige-2;
// $danger: $red;
// $light: $light-beige;
// $dark: $dark-gray;

// $body-bg: $background;
// $body-color: $icon-gray;

// $custom-colors: (
//   'dark-brown': $dark-brown,
//   'beige': $beige,
//   'icon-gray': $icon-gray,
// );

// $theme-colors: map-merge($theme-colors, $custom-colors);
