*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Загальні стилі */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 20px;
  text-align: center;
}

/* Посилання "Go Back" */
.back-link {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.back-link:hover {
  text-decoration: underline;
}

/* Форма пошуку */
.search-form {
  max-width: 400px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Поле вводу */
.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Допоміжний текст */
.help-text {
  font-size: 12px;
  color: #6c757d;
  margin-top: 5px;
}

/* Кнопка */
.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

/* Контейнер для картки */
.card-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* Основний стиль картки */
.pokemon-card {
  width: 300px;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Зображення покемона */
.pokemon-image {
  width: 100%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Інформація про покемона */
.pokemon-info {
  padding: 10px 0;
}

/* Назва */
.pokemon-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

/* Жирний текст */
.bold-text {
  font-weight: bold;
}

/* Уміння */
.abilities-title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.abilities-list {
  list-style: none;
  padding: 0;
  margin-top: 5px;
}

.ability-item {
  background: #f8f8f8;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}
